body {
  color: #2a2a2a;
  background-color: #fff;
}

/* цвет основного текста #000000 */
/* вторичный цвет текста rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF; */
/* акцент #18A0FB; */

/* вторичный цвет фона #F5F5F5; */

.logo {
  color: #000000;
}
